server:
  port: 8081

project:
  build:
    directory: target/


spring:
  config:
    import:
    - secrets.yaml
    
  application:
    name: AUTH-SERVICE
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format-sql: true
  data:
    redis:
      host: localhost
      port: 6379
      
    
logging:
  level: 
    root: error


eureka:
  instance:
    prefer-ip-address: false
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
