server:
  port: 8080

logging:
  level:
    root: info

management:
  endpoints:
    web:
      cors:
        allowed-origins:
        - localhost:4200 
        allowed-headers:
        - Authorization

spring:
  application:
    name: API-GATEWAY-SERVICE
    
  cloud:
    gateway:
      discovery:
          locator:
            enabled: true
            lower-case-service-id: true
      routes:
        - id: AUTH-SERVICE
          uri: http://localhost:8081
          predicates:
          - Path=/api/auth/**
          filters:
            - AddRequestHeader=X-From-Gateway, 3RBwxigR4E1E68qHyK24gArf
            - AddResponseHeader=X-Authenticity-Ver, app-v-4
            
        - id: POST-SERVICE
          uri: http://localhost:8082
          predicates:
            - Path=/api/post/**
          filters:
            - AddRequestHeader=X-From-Gateway, 3RBwxigR4E1E68qHyK24gArf
            - AddResponseHeader=X-Authenticity-Ver, app-v-4
            


eureka:
  instance:
    prefer-ip-address: false
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

security:
  jwt:
    secret-key: 8c3xjsu02yKxJKHYGsze0cA3V8fF3HWqbFVzHXZP5MtJxhtoi984pz0vUQLyL7H2
    expiration-time: 3600000

