server:
  port: 8080

logging:
  level:
    root: error

info:
  app:
    name: "Api gateway service"
    version: "1.0.0"
    description: "Ce service sert de reverse proxy pour les microservices"

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins:
        - localhost:4200 
        allowed-headers:
        - Authorization

spring:
  config:
    import:
      - secrets.yaml

  application:
    name: API-GATEWAY-SERVICE

  data:
    redis:
      host: localhost
      port: 6379
    
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          routes:
            - id: AUTH-SERVICE
              uri: lb://AUTH-SERVICE
              predicates:
              - Path=/api/auth/**
              filters:
              - AddRequestHeader=X-From-Gateway, 3RBwxigR4E1E68qHyK24gArf
              - AddResponseHeader=X-Authenticity-Ver, app-v-4

            - id: POST-SERVICE
              uri: lb://POST-SERVICE
              predicates:
              - Path=/api/post/**
              filters:
              - AddRequestHeader=X-From-Gateway, 3RBwxigR4E1E68qHyK24gArf
              - AddResponseHeader=X-Authenticity-Ver, app-v-4




eureka:
  instance:
    prefer-ip-address: false
    # Fréquence d'envoi des heartbeats (défaut: 30s)
    lease-renewal-interval-in-seconds: 10
    # Temps avant que le serveur considère l'instance comme morte (défaut: 90s)
    lease-expiration-duration-in-seconds: 30

  client:
    fetch-registry: true
    register-with-eureka: true
#    service-url:
#      defaultZone: http://REGISTRY-APP:8761/eureka/
    service-url:
      defaultZone: http://localhost:8761/eureka/


